

IO_LOC "led" 15;
IO_PORT "led" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "led2" 16;
IO_PORT "led2" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "clk27" 4;
IO_PORT "clk27" PULL_MODE=UP BANK_VCCIO=1.8;

IO_LOC "rst" 88;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sw_demo" 87;
IO_PORT "sw_demo" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "uart_rx" 70;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;
IO_LOC "uart_tx" 69;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;
IO_LOC "uart_tx_2" 73;
IO_PORT "uart_tx_2" IO_TYPE=LVCMOS33;

IO_LOC "max7129_cs" 74;
IO_PORT "max7129_cs" IO_TYPE=LVCMOS33;
IO_LOC "max7129_clk" 77;
IO_PORT "max7129_clk" IO_TYPE=LVCMOS33;
IO_LOC "max7129_data" 85;
IO_PORT "max7129_data" IO_TYPE=LVCMOS33;
